<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Laurent Gudemann</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav navbar-right align-items-center">
        <li class="nav-item mr-3 active">
          <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#film">Film</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#photo">Photo</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#design">Design</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>

</nav>


<div class="container main-wrapper min-vh-100 align-content-between pt-5">
  <div class="nav-anchor" id="about">
  </div>

  <div class="navbar-height-spacer"></div>
  <div class="decorative-box"></div>
  <h1 class="text-center text-md-left ml-md-5" (appear)="onAppear(1)">About</h1>
  <div class="row nav-arrow-padding">
    <div class="col-0 col-md-1"></div>
    <div class="col-12 col-md-4 col-lg-3">
      <div class="row justify-content-center">
        <img class="col-6 col-sm-4 col-md-12 align-self-center img-fluid profile-photo"
          src="/assets/img/gudemann-holding-camera.png" alt="Laurent Gudemann holding a documentary camera in iceland">
      </div>
    </div>
    <div class="col-1 d-none d-sm-block d-xl-none"></div>
    <div class="col-12 col-md-6 align-self-center">
      <p>Hi my name is Laurent and I made this website to collect my favorite things I have worked on and share them
        with
        the internet.</p>
      <p>I am a media engineering student who's specializing in digital imaging and color science, but I also love
        cinematography and take lots of photos. You can find some of my films, photos & designs and in the future I
        plan on creating some color related web-apps</p>
    </div>
  </div>


  <div class="row arrow-navigation-wrapper justify-content-center align-items-start">
    <a href="#film">
      <img class="img-fluid nav-arrow mb-5" src="/assets/img/nav-arrow.svg">
    </a>
  </div>
</div>


<div id="film" class="w-xl-75 main-wrapper min-vh-100 align-content-between vimeo-wrapper mt-5" appFilmScroll>
  <div class="section-detector-wrapper row position-absolute w-100 justify-content-center align-items-center">
    <div (appear)="onAppear(2)"></div>
  </div>
  <div class="navbar-height-spacer"></div>
  <div class="d-block d-sm-none">
    <div class="decorative-box-film"></div>
    <h1 class="text-center mt-3 mb-3">Film</h1>
  </div>
  <ngb-carousel class="vimeo-carousel" [interval]="9999999" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    [showNavigationIndicators]="false">
    <ng-template ngbSlide>
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/381319292" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/381319292" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/381319292" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container d-block d-sm-none">
    <div class="row justify-content-center mt-3">
      <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis esse optio nesciunt harum
          necessitatibus deserunt! Illum omnis necessitatibus voluptas error?</p>
      </div>
    </div>

  </div>

  <div class="row arrow-navigation-wrapper justify-content-center align-items-start">
    <a href="#photo">
      <img class="img-fluid nav-arrow mb-5" src="/assets/img/nav-arrow.svg">
    </a>
  </div>

</div>


<div id="photo" class="container main-wrapper min-vh-100 align-content-between mt-5">
  <div class="section-detector-wrapper row position-absolute w-100 justify-content-center align-items-center">
    <div (appear)="onAppear(3)"></div>
  </div>
  <div class="navbar-height-spacer"></div>
  <h1 class="text-center text-md-left ml-md-5 mt-5">Photo</h1>
  <div class="lightbox-wrapper nav-arrow-padding">
    <div class="lightbox-thumb-wrapper" *ngFor="let image of album; let i=index">
      <img class="img-fluid" [src]="image.thumb" (click)="open(i)" />
    </div>
  </div>

  <div class="row arrow-navigation-wrapper justify-content-center align-items-start">
    <a href="#design">
      <img class="img-fluid nav-arrow mb-5" src="/assets/img/nav-arrow.svg">
    </a>
  </div>

</div>


<div id="design" class="container main-wrapper min-vh-100 align-content-between mt-5">
  <div class="send-to-back row position-absolute vh-100 w-100 justify-content-center align-items-center">
    <div (appear)="onAppear(4)"></div>
  </div>
  <div class="navbar-height-spacer"></div>
  <h1 class="text-center text-md-left ml-md-5 mt-5">Design</h1>
  <div class="row arrow-navigation-wrapper justify-content-center align-items-start">
    <a href="#contact">
      <img class="img-fluid nav-arrow mb-5" src="/assets/img/nav-arrow.svg">
    </a>
  </div>
</div>

<div id="contact" class="container main-wrapper min-vh-100 align-content-between mt-5">
  <div class="send-to-back row position-absolute vh-100 w-100 justify-content-center align-items-center">
    <div (appear)="onAppear(5)"></div>
  </div>
  <div class="navbar-height-spacer"></div>
  <h1 class="text-center text-md-left ml-md-5 mt-5">Contact</h1>
  <div class="row mt-5">
    <div class="col-0 col-md-1"></div>
    <div class="col-12 col-md-5 mt-0 mt-md-5 mb-5">
      <a href="mailto:contact@gudemann.com" class="contact-info" target="_blank">
        <div class="row align-items-center justify-content-center justify-content-md-start mb-4">
          <img class="contact-icon mr-4" src="/assets/img/email-icon.svg">
          contact@gudemann.com
        </div>
      </a>
      <a href="https://www.linkedin.com/in/laurent-gudemann/" class="contact-info" target="_blank">
        <div class="row justify-content-center justify-content-md-start align-items-center">
          <img class="contact-icon mr-4" src="/assets/img/linkedin-icon.svg">
          laurent-gudemann
        </div>
      </a>

    </div>
    <div class="col-12 col-md-6">
      <form action="https://formspree.io/f/mwkwrebd" method="POST">
        <div class="form-group">
          <label for="contact-name">Full name</label>
          <input type="text" name="name" class="form-control" id="contact-name" placeholder="First and last name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" name="_replyto" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>