/* You can add global styles to this file, and also import other style files */
$body-bg: #332a2c;
$body-color: white;
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(assets/img/hamburger-icon.svg);
}
.navbar-dark .navbar-toggler {
  border: none;
  outline: none;
}
.navbar-brand {
  font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
  top: 25%;
  bottom: 25%;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
